body{
  background-image: url(../image/board.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Oswald', sans-serif;
  font-size: 25px;
}

.player1{
  border: 2px solid re;
  width: 10%;
  height: 75px;
  border-radius: 5px;
  color: #FF530D;
  
  
  
}

.player2{
 border: 2px solid re;
 width: 10%;
 height: 75px;
 border-radius: 5px;
 float: right;
 color: #FF530D;
 

 
}

.card{
  border: 2px solid gree;
  color: #FF530D;
  width: 900px;
  height: 150px;
  border-radius: 5%;
  position: relative;
  left: 50px;
  top: 125px;
  padding-left: 20px;
  font-size: 50px;
  
}
.game-board{
  border: 2px solid re;
  width: 1000px;
  height: 455px;
  border-radius: 5%;
  position: relative;
  left: 333px;
  top: 175px;

}



.type-text{
  height: 100px;
  width: 500px;
  border: 2px solid re;
  border-radius: 5%;
  position: relative;
  left: 250px;
  top: 200px;

}

input{
  position: relative;
  left: 145px;
  top: 25px;
}

nav{
  color: #FF530D;

}
ul{
  text-decoration: none;
}
li{
  display: inline;
  font-size: 40px;
}

#right{
  position: absolute;
  left: 1500px;
  top: 0px;
}

#red-box{
  width: 100%;
  height: 100px;
  border: 2px solid re;
  position: relative;
  left: 600px;
  top: 50px;
  width: 200px;
  height: 120px;
}

h1{
  font-size: 75px;
  font-weight: bold;
  color: #FF530D;
  
  }

  #winner p{
    display: none;
    font-size: 250px;
    position: absolute;
    left: 40%;
    top: 25%;
  }


